html{
   font-size: 21px;
}

body{
   background-color: whitesmoke;
}
h1{
   color: blue;
   margin-left: 170px;
  
}

.welcome-note{
   margin-top: 0px;
   height: 150px;
   background-color: rgb(250, 63, 63);
   color: white;
}
   .logo-note{
      display: grid;
      grid-template-columns: 1fr 8fr;

   }

   .logo{
      width: 120px;
      height: 110px;
     margin-left: 8px;
     margin-top: 12px;
   
}
.note{
   display: inline-block;
   font-size: 50px;
   margin: 0px;
   margin-top: 30px;
   margin-left: 50px;
}

.attitude{
   font-size: 30px;
  margin: 0px;
margin-left: 35%;

}


.vision-mission-values{
   font-family: roboto;
   font-weight: bold;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 70px;
  
}
.vision-head,
.mission-head,
.vallues-head{
   margin-left: 40px;
   font-size: 35px;
}
.vision-text{
   background-color: rgb(62, 143, 219);
   height: 400px;
}

.mission-text{
   background-color: white;
   height: 400px;
   font-weight: bold;
}


.mission-note,
.vision-note{
   width: 300px;
   margin-left: 40px;
}

.vallues-note{
   margin-left: 80px;
}
.vallues-text{
   background-color: lawngreen;
   height: 400px;
   
}
.service{
   margin-left: 20%;
   margin-top: 70px;
   font-size: 25px;
}

.lab,
.deliveryroom,
.recoveryroom,
.pharmacy{
   display: inline-block;
}


.labbpic,
.recoverypic,
.pharmacypic,
.deliverypic{
   width: 325px;
   border-radius: 9px;
}

.lab-note,
.delivery-note,
.recovery-note,
.pharmacy-note{
   margin-left: 35px;
   font-size: 25px;
   margin-top: 0px;
}

.patient-care{
   margin-top: 100px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   
}
.patient-pic{
   width: 50px;
   border-radius: 15px;
}

.patientRight{
   background-color: rgb(34, 245, 34);
}