* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
   background-color: whitesmoke;
   font-family: 'poppins', sans-serif;
   font-size: 16px;
   line-height: 1.5;
    }

    
    h1,
    h2 {
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
    }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 30px;
}

.navBar {
  background: white;
  color: blue;
  height: 130px;
}

.navBar .logo { 
  font-size: x-large;
  font-weight: bolder;
  font-style: oblique;
}

.logoimg{
  width: 100px;
  height: 100px;
}

.logoimg.hover{
  transform: scale(1.1);}


.navBar a {
  color: blue;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  font-style: calc();
}

.navBar a:hover {
  color: burlywood;
}

.navBar .container {
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
}

.navBar ul {
  display: flex;
  }
       
.navBar ul li {
  margin-left: 20px;
}
     
.space{
  background: rgb(61, 61, 153);
  height: 180px;
}

.notes .container{
  display: flex;
  justify-content: space-between;
}

.text {
 background: red;
 color: white;
 border-radius: 10px;
 margin: 25px 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding: 20px 25px;
  }

  .text i{
    margin-right: 10px;
  }
        
  
          
      
   

  
   
